

.rounded-corners-all-around {
    border-radius: 100px;
}

.circle-shape {
    border-radius: 24px;
}

.border-dark-gray {
    border-color: #46494E; }

.bg-color-dark-gray {
    background-color: #3D3D3D;
}

.float-right {
    float: right;
    position: center;
}

.pos-relative-nudge-left{
    position: relative;
    right: 23px;
}


.fg-color-white { color: white; }
.fg-color-black { color: black; }
.fg-color-highlight-blue { color: #1da0f2; }
.fg-color-gray { color: #6e767d; }

.border-fat {
    border-width: 20px 30px 20px 30px; }
.border-thin {
    border-width: 4px; }
.border-solid {
    border-style: solid; }
.border-dashed {
    border-style: dashed; }

.grid-col-sixth-page {
    width: 16%;
    float: left;
}

.padding-fat {
    padding: 16px;
}

.border-bottom-highlight {
    border-style: solid;
    border-color: #000000 #000000 #1da0f2 #000000;
}

.rounded-corners-all-around {
    border-radius: 10px;
}

.dimension-square {
    width: 100px;
    height: 100px;
}

.container {
    position: relative;
    color: white;
}


.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 12px;
}

.btn-work{ text-align: center; }





